body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

div.pcms {
	font-family: "Courier New", Courier, monospace;
}

div.pcms a:hover { text-decoration: none; color: #663399; }
div.pcms div div a:hover { cursor: auto; color: #000000; }

div.pcms div.state-one { display: none; }
div.pcms div.state-two { display: block; }

div.pcms a {
	display: block;
	cursor: pointer;
	padding-top: .25em;
	padding-bottom: .25em;
}

div.pcms div {
	padding-left: 1em;
}

div.pcms {
	padding: 1em;
}

div.line-wrap {
	font-size: 0;
	line-height: 1px;
	height: 0px;
}
